{% extends 'recipes/recipebase.html' %}

{% block title %} {{recipe['recipe_name']}} {% endblock %}


{% block body %} 

<div class="container w-75 mx-auto">
<div class="card m-5">
    <h5 class="card-header">{{recipe['recipe_name']}} | {{recipe['category']}}</h5>
    
    <div class="card-body col">

        <div class="card col m-3">
            <p class="card-header">Description</p>
            <div class="card-body">
              
               {{recipe['description']}}
            </div>
          </div>

          <div class="card col m-3">
            <p class="card-header">Ingredients</p>
            <div class="card-body">
                <pre>{{recipe['ingredients']}}</pre>
            </div>
          </div>

          <div class="card col m-3">
            <p class="card-header">Instructions</p>
            <div class="card-body">
                <pre>{{recipe['instructions']}}</pre>
            </div>
          </div>
          <div class="col m-3">
            <form id="upvote" method="post">
              <button class="btn btn-success" type="submit" name="upvote" form="upvote" value="upvote">Upvote</button>
              <button class="btn btn-danger" type="submit" name="upvote" form="upvote" value="downvote">Downvote</button> <span class="mx-3"> Upvotes: {{recipe['upvotes']}}</span>
            </form>
            
          </div>

    </div>

    <div class="card-footer d-flex justify-content-between">
        <small class="text-muted">Posted: {{recipe['date_added'].strftime('%Y-%m-%d')}}</small>
        <small class="text-muted">By: {{recipe['username']}}</small>
      </div>
  </div>
</div>







<div class="container w-75 mx-auto">
  <div class="card m-5">
      <h5 class="card-header">Comments </h5>
      
      <div class="card-body col">

        <div class="card">
          <div class="card-header">
            Example Poster
          </div>
          <div class="card-body">
            <p class="card-text">Great recipe!</p>
          
          </div>
          
        </div>

       
  
      </div>
  
      <div class="card-footer text-muted">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="">Comment</button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Post a Comment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form method="post">
                  
                  <div class="mb-3">
                    <label for="message-text" class="col-form-label">Comment:</label>
                    <textarea class="form-control" id="message-text"></textarea>
                  </div>
                
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Send message</button>
              </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>








<br />
{{session}}
{% endblock %}