.home-header{
    background-color: #212529;
    height: 80vh;
    width: 100%;
   

}

.upvote{
    background-color: #a6e9d5;
}

.downvote{
    background-color: #f1aeb5;
}

.number{
    background-color: #6c757d;
}

.visitbtn{
    background-color: #adb5bd;
}

.min-height{
    min-height: 14em;
}

.cardheader{
    color: #212529;
    background-color: #F49D6E;
    padding: 1em;
}