{% extends 'recipebase.html' %}

{% block title %} Welcome to the home page {% endblock %}


{% block body %} 

<div class="container w-75 mx-auto">
<div class="card m-5">
    <h5 class="card-header">{{recipe['recipe_name']}} </h5>
    
    <div class="card-body col">

        <div class="card col m-3">
            <p class="card-header">Description</p>
            <div class="card-body">
               <pre>{{recipe['description']}}</pre>
            </div>
          </div>

          <div class="card col m-3">
            <p class="card-header">Ingredients</p>
            <div class="card-body">
                <pre>{{recipe['ingredients']}}</pre>
            </div>
          </div>

          <div class="card col m-3">
            <p class="card-header">Instructions</p>
            <div class="card-body">
                <pre>{{recipe['instructions']}}</pre>
            </div>
          </div>
          <div class="col m-3">
            <form id="upvote" method="post">
              <button class="btn btn-success" type="submit" name="upvote" form="upvote" value="upvote">Upvote</button>
              <button class="btn btn-danger" type="submit" name="upvote" form="upvote" value="downvote">Downvote</button> <span class="mx-3"> Upvotes: {{recipe['upvotes']}}</span>
            </form>
            
          </div>

    </div>

    <div class="card-footer d-flex justify-content-between">
        <small class="text-muted">Posted: {{recipe['date_added'].strftime('%Y-%m-%d')}}</small>
        <small class="text-muted">By: {{recipe['username']}}</small>
      </div>
  </div>
</div>

<br />
{{session}}
{% endblock %}