{% extends 'base.html' %}

{% block title %} Welcome to the home page {% endblock %}


{% block body %} 

{{session['authenticated']}}
{{session}}
<div class="container mt-5">
  <div class="row row-cols-1 row-cols-md-3 g-3 mx-auto">
{% if top_recipes %}
{% for recipe in top_recipes %}
<div class="col">
  <div class="card h-100">
    <h5 class="card-header">{{recipe['recipe_name']}}</h5>
    <div class="card-body">
      <p class="card-text">{{recipe['description']}}</p>
      <a href="/recipe/{{recipe['_id']}}" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer d-flex justify-content-between">
      <small class="text-muted">Posted: {{recipe['date_added'].strftime('%Y-%m-%d')}}</small>
      <small class="text-muted">By: {{recipe['username']}}</small>
    </div>
  </div>
</div>


{% endfor %}
{% endif %}
  </div>
</div>
  
{% endblock %}