{% extends 'home/homebase.html' %}

{% block title %} Welcome to the home page {% endblock %}


{% block body %} 
<div class="container-fluid home-header">
<h1 class="text-center text-white pt-5">WikiBooze</h1>
<h2 class="text-center text-white pt-3">Recipes for your favorite beverages.</h2>
<p class="text-center pt-5"><a href="#anchor" class="text-white">Scroll Down to Explore</a></p>
</div>

<div class="container mt-5" id="anchor">
  <span class="badge bg-dark mb-3 p-2 fs-9 mx-2 badge-color">Popular Recipes</span>
  <div class="row row-cols-1 row-cols-md-3 g-3 mx-auto">
{% if top_recipes %}
{% for recipe in top_recipes %}
<div class="col">
  <div class="card h-100">
    <h5 class="card-header">{{recipe['recipe_name']}}
      {% if recipe['upvotes'] > 0 %}
      <span class="badge rounded-pill bg-warning text-dark float-md-end"> {{recipe['upvotes']}}</span>
      {% else %}
      <span class="badge rounded-pill bg-secondary float-md-end"> {{recipe['upvotes']}}</span>
      {% endif %}
    </h5>


    <div class="card-body">
      <p class="card-text">{{recipe['description']}}</p>
      <a href="/recipe/{{recipe['_id']}}" class="btn btn-outline-warning text-dark">Visit Recipe</a>
    </div>
    <div class="card-footer d-flex justify-content-between">
      <small class="text-muted">Posted: {{recipe['date_added'].strftime('%Y-%m-%d')}}</small>
      <small class="text-muted">By: {{recipe['username']}}</small>
    </div>
  </div>
</div>


{% endfor %}
{% endif %}
  </div>
</div>

<div class="container mt-5">
  <span class="badge bg-dark mb-3 p-2 fs-9 mx-2">New Recipes</span>
  <div class="row row-cols-1 row-cols-md-3 g-3 mx-auto">
{% if new_recipes %}
{% for recipe in new_recipes %}
<div class="col">
  <div class="card h-100">
    <h5 class="card-header">{{recipe['recipe_name']}}
      {% if recipe['upvotes'] > 0 %}
      <span class="badge rounded-pill bg-warning text-dark float-md-end"> {{recipe['upvotes']}}</span>
      {% else %}
      <span class="badge rounded-pill bg-secondary float-md-end"> {{recipe['upvotes']}}</span>
      {% endif %}
    </h5>


    <div class="card-body">
      <p class="card-text">{{recipe['description']}}</p>
      <a href="/recipe/{{recipe['_id']}}" class="btn btn-outline-warning text-dark">Visit Recipe</a>
    </div>
    <div class="card-footer d-flex justify-content-between">
      <small class="text-muted">Posted: {{recipe['date_added'].strftime('%Y-%m-%d')}}</small>
      <small class="text-muted">By: {{recipe['username']}}</small>
    </div>
  </div>
</div>


{% endfor %}
{% endif %}
  </div>
</div>



<br />

<p> Development Session Check</p>
{{session['authenticated']}}
{{session}}
  
{% endblock %}